<footer class="text-center footer">
  <hr/>
  <div class="row footer">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="footer-block">
        <a href="https://www.facebook.com/ted.lano" class="btn btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/tlano" class="btn btn-twitter" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a>
        <a href="https://www.linkedin.com/in/theodore-lano-b5a34723" class="btn btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/tederoo/" class="btn btn-instagram" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/theodore4889" class="btn btn-github" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</footer>

<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
