<!DOCTYPE html>
<html>
<head>
    {{> head}}
    <title>{{pageTitle}}</title>
    <link href="/css/blockchain-game.css" rel="stylesheet">
</head>
<body>
    {{> header}}
    <br/>
    <div class="container">
        <div class="row">
            <div class="col col-md-4">

                <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Instructions
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block">

                  </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Rules
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Skip Diddly Doo
                    </a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
                </div>
                </div>

                <!--
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Teams</h3>
                    </div>
                    <div class="panel-body">
                        <div class="chat-messages-wrapper">
                            <ul id="messages" style="list-style: none;">
                            </ul>
                        </div>
                        <div class="chat-form-wrapper">
                            <form id="message-form" class="form-inline">
                                <div class="form-group">
                                    <input name="message" type="text" class="form-control" placeholder="Message goes here" autocomplete="off"/>
                                </div>
                                <button class='btn btn-primary'>Send</button>
                                <!-- <button id="send-location">Send Location</button>
                            </form>
                        </div>
                    </div>
                </div>
            -->
            </div>
            <div class="col col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Register</h3>
                    </div>
                    <div class="panel-body">
                        Hello
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/libs/jquery-3.2.1.min.js"></script>
        <script src="/js/blockchain-game.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {{> footer}}
</body>
</html>
