<!DOCTYPE html>
<html>
<head>
    {{> head}}
    <title>Captioned Videos | Ted Tools</title>
    <link href="/css/numbers-quiz.css" rel="stylesheet">
</head>
<body>
    {{> header}}


    {{> footer}}
    <script type="text/javascript" src="/js/responsive-voice.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/numbers-quiz.js"></script>
</body>
</html>
