<!DOCTYPE html>
<html>
<head>
    {{> head}}
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <br />
    <div class="container body">
        <div class="jumbotron">
            <h1>Welcome to my playground</h1>
            <p>Not much to see here.  You can do a few things, such as:</p>
            <ul>
            	<li>Check out my Youtube captioning app by clicking "Caption Maker" in the navigation.  Doesn't work well on iPhones.</li>
            	<li>Practice your foreign language skills for numbers by clicking the "Numbers Quiz" in the navigation.</li>
            </ul>
        </div>
    </div>
    {{> footer}}
</body>
</html>
